<div class="container d-flex-1 flex-column flex-wrap align-items-center">
  <div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isError">
    {{ errorMessage }}
  </div>
  <div *ngIf="!isLoading && !isError">
    <div class="m-3" *ngFor="let item of items">
      <mat-card appearance="outlined" class="p-3">
        <mat-card-title
          ><strong>{{ item.taskTitle }}</strong></mat-card-title
        >
        <mat-card-content>
          <p><strong>Date : </strong>{{ item.taskDate }}</p>
          <p><strong>Time : </strong>{{ item.taskTime }}</p>
          <p><strong>Description : </strong>{{ item.description }}</p>
        </mat-card-content>
        <div
          class="d-flex flex-row align-items-center justify-content-end mt-2"
        >
          <button class="btn btn-success m-2" (click)="deleteTask(item.taskId)">
            Done
          </button>
          <button
            mat-flat-button
            class="me-2"
            (click)="updateTask(item.taskId)"
          >
            Update
          </button>
          <button
            class="btn btn-light d-flex align-items-center"
            (click)="deleteTask(item.taskId)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
